$xl-padding: 4.5rem;
$lg-padding: 3rem;
$md-padding: 2.5rem;
$sm-padding: 1.5rem;

$mobile: new-breakpoint(max-width 700px 4);

body {
  font-size: 62.5%; // used for rem font-sizing so that they correspond roughly to px
  font-family: $primary-font-stack;
  overflow: hidden;
}

.background {
  @include display(block);
  @include position(absolute);
  top: 0;
  left: 0;
  @include size(100%);
  z-index: 1;
}

.overlay {
  @extend .background;
  z-index: 2;
  background: rgba(0,0,0,.5);
}

  .bg-element {
    display: inline-block;
    margin-right: -4px; // used to eliminate default space b/t inline-block items
    line-height: 0; // eliminates empty space at the bottom of inline-block element
    height: 100%;
    width: 25%;
    background-size: cover;
    @include filter(sepia(80%) blur(5px));
  }

    .bg-element#bg_tiny-home {
      background-image: url('../images/bg_tiny-home.jpg');
    }

    .bg-element#bg_farm {
      background-image: url('../images/bg_farm.jpg');
    }

    .bg-element#bg_paws {
      background-image: url('../images/bg_paws.png');
    }

    .bg-element#bg_wellness {
      background-image: url('../images/bg_wellness.jpg');
    }

@include keyframes(dropDownFadeIn) {
  from {
    visibility: hidden;
    opacity: 0;
    @include transform(translateY(-$lg-padding));
  }
  to {
    visibility: visible;
    opacity: 1;
    @include transform(translateY($lg-padding));
  }
}


section.landing {
  opacity: 0;
  @include transform(translateY(-$lg-padding));
  @include display(block);
  @include position(relative);
  max-width: 50rem;
  margin: 0 auto;
  // border: 4rem solid white;
  // box-shadow: inset 0 0 0 1px #ccc;
  padding: $xl-padding;
  background: white;
  z-index: 3;
  @include animation-delay(.5s);
  @include animation-name(dropDownFadeIn);
  @include animation-duration(.5s);
  @include animation-timing-function(ease);
  @include animation-fill-mode(forwards);

  @include media($mobile) {
    margin: $md-padding auto;
    padding: $lg-padding;
  }

}

h1.sub-heading {
  color: $dark-base-lightened;
  border-bottom: 1px solid $dark-base-lightened;
  display: inline-block;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 2px;
  margin-bottom: $lg-padding;
  padding-bottom: $sm-padding;
}

img.brand {
  display: block;
  max-width: 30%;
  margin: 0 auto;
  margin-bottom: $sm-padding;
}

h2 {
  font-family: $secondary-font-stack;
  color: $secondary-accent;
  font-size: 2.5rem;
  line-height: 125%;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

p {
  color: $dark-base;
  font-size: 1.2rem;
  line-height: 150%;
  margin-bottom: $sm-padding;
}

p:last-of-type {
  margin-bottom: $md-padding;
}

  p a {
    color: $light-secondary-accent;
  }

  p a.phone {

  }

form {
  @include display(inline-block);
  width: 100%;
  margin-bottom: $sm-padding;
}

  form label {
    font-family: $secondary-font-stack;
    color: $light-secondary-accent;
    @include display(block);
    width: 100%;
    font-size: .9rem;
    margin-bottom: $sm-padding/2;
  }

    form label:after,
    form label::after {
      margin-left: .5rem;
      content: "\f178";
      font-family: 'FontAwesome';
    }
  form input {
    min-height: 3rem; // makes inputs the same height
    margin-right: -4px; // adjusts spacing between inline-block elements;
    font-size: 1.2rem;
  }

  form input[type="text"] {
    color: $dark-base;
    font-family: 'FontAwesome';
    width: 80%;
    padding: .5rem 1rem;
    line-height: 120%;
    border: 1px solid $dark-base-lightened;
  }

    form input[type="text"] {
      outline-color: transparent;
      border: 1px solid $light-secondary-accent;
    }

  form input[type="submit"] {
    width: 20%;
  }

.btn {
  font-family: $secondary-font-stack;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: white;
  background: $primary-accent;
  border: none;
}
