.Section--hero {
  background: url('/assets/images/hero.png') $dark-base; // commented out - served through data-attribute in html
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  padding-top: $lg-padding;
  padding-bottom: $xs-padding;
  position: relative;

  @media (max-width:$desktopReg) {
    clear: both;
  }

}

  .Section--hero .HeroLeft,
  .Section--hero .HeroBox {
    opacity:0;
    opacity: 1 \9; /*just in case ie*/
    -webkit-animation:fadeInDown ease 1;
    -moz-animation:fadeInDown ease 1;
    animation:fadeInDown ease 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  }

  .Section--hero .HeroLeft {
    @include animation-duration($defaultTransition*2);
    @include animation-delay($defaultTransition);
  }

  .Section--hero .HeroBox {
    @include animation-duration($defaultTransition);
    @include animation-delay($defaultTransition);
  }
