.Section--media-grid {
  display: grid;
  grid-gap: $sm-padding;
  grid-template-columns: 4fr 3fr;

  @media (max-width: $desktopReg) {
    grid-template-columns: 1fr;
  }
}

.Section--media-sources {
  display: grid;
  grid-gap: $sm-padding;
  grid-template-columns: 1fr 1fr 1fr;
}

.Section--media h2 {
  color: $secondary-accent;
}

.Section--media h2,
.Section--media h3 {
  @media (max-width: $mobile) {
    margin-left: $md-padding;
  }
}

@media (min-width: $mobile) and (max-width: $desktopReg) {
  #dth {
    margin-top: $sm-padding; // fixes issue with the media source collapsing inappropriately
  }
}
