---
---

<!DOCTYPE html>

<html lang="en">

	{% include head.html %}

	<body>

    <!--===== BEGIN MAIN =====-->
		<main>

			{% include header.html %}

			<section class="Section--hero u-full">
			<div class="u-container">

				<div class="HeroBox">
					<h1>About us</h1>
					<p class="u-emphasis">XDS is a nonprofit helping North Carolinians today</p>
				</div>

				<!-- <div class="HeroLeft">
					<h1 class="HeroLeft-header">About test</h1>

					<p class="HeroLeft-paragraph u-emphasis">Food as medicine. Farming as therapy. Housing as healthcare.</p>
					<a class="Button Button--tertiary">Join us today</a>
				</div> -->

			</div>
			</section> <!-- end hero section -->

			<section class="Section--values u-full">
			<div class="u-container">

				<h3 class="SubHeading">What drives XDS</h3>
				<h2>Our values</h2>

				<div class="u-twoThirds">
					<p class="FullParagraph">Cross Disability Services (XDS) is driven by several key values to Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet eu ex at fringilla. Nunc non pharetra leo, eu cursus justo.</p>

					<p class="FullParagraph"> In vehicula est a tortor tempus tristique. Suspendisse non risus rutrum, consectetur lorem in, dignissim sapien.</p>
				</div>

				<div class="u-oneThird">
					<ol class="OrderedList">
						<li class="OrderedList-listItem"><span class="OrderedList-listItem-text">Nullam elementum, odio sit</span></li>
						<li class="OrderedList-listItem"><span class="OrderedList-listItem-text">Nam volutpat mauris convallis</span></li>
						<li class="OrderedList-listItem"><span class="OrderedList-listItem-text">Quisque accumsan vel lectus</span></li>
						<li class="OrderedList-listItem"><span class="OrderedList-listItem-text">Aliquam fringilla aliquet arcu</span></li>
					</ol>
				</div>

			</div>
			</section> <!-- end .Section--vision -->

			<section class="Section--vignette u-full" data-parallax="scroll" data-image-src="/assets/images/opt_bg_farm.png" data-speed=".65">
			<div class="u-container">

				<div class="VignetteContainer">
					<h3 class="SubHeading">Our mission</h3>

					<p class="VignetteContainer-paragraph">XDS's primary mission is to liquam erat volutpat. In ut nisl consequat, pulvinar dui vel, porttitor quam.</p>

					<p class="VignetteContainer-paragraph">Pellentesque gravida eros vehicula posuere malesuada. Nunc sit amet nibh non sapien faucibus condimentum.</p>

					<a href="#" class="Button Button--primary">Support our mission</a>
				</div>

			</div>
			</section> <!-- end .Section--vignette -->

			{% include programs.html %}

		</main> <!-- end main -->
		<!--===== END MAIN =====-->

    {% include footer.html %}

  	{% include scripts.html %}


	</body>

</html>
