---
---

<!DOCTYPE html>

<html lang="en">

	{% include head.html %}

	<body>

    <!--===== BEGIN MAIN =====-->
		<main>

			{% include header.html %}

			<section class="Section--hero u-full">
			<div class="u-container">

				<div class="HeroBox">
					<h1>Donations</h1>
					<p class="u-emphasis">[Make an investment in your community]</p>
				</div>

			</div>
			</section> <!-- end hero section -->

			<section class="Section--donate">
        <div class="u-container u-twoThirds u-block u-marginX--auto">

          <h3 class="SubHeading">[Lorem ipsum dolor sit amet]</h3>
          <h2>Donate</h2>

          <p class="FullParagraph">Your donation will enable us to continue offering specialized services that will reach more community members with severe mental illness.</p>

          <p class="FullParagraph">Tax deductible donations can be made out to XDS - Farm at Penny Lane. Mail checks to XDS, PO Box 368, Carrboro, NC 27510.</p>

          <p class="FullParagraph">You can also contribute funds to the farm by using Amazon Smile, selecting &ldquo;XDS Inc.&rdquo;</p>

          <p class="FullParagraph">In-kind donations of new or gently-used items are always appreciated. The following items are currently needed at the farm.</p>

          <p class="FullParagraph">
            <ul class="FullParagraph-unorderedList">
                <li class="FullParagraph-listItem">Burlap bags and old 100% cotton clothing items for mulching our aisles</li>
                <li class="FullParagraph-listItem">Clean, plastic and paper grocery bags to package our produce for clients and for customers at the farmers market</li>
                <li class="FullParagraph-listItem">Picnic tables</li>
                <li class="FullParagraph-listItem">Egg cartons &mdash; dozen or six-pack size</li>
                <li class="FullParagraph-listItem">Plastic storage bins with lids</li>
            </ul>
          </p>

          <p class="FullParagraph">We are grateful for all contributions to our health and wellness initiative.</p>

          <a href="https://amzn.com/w/4BDZ8HI3KAN1" class="Button Button--primary">Our Amazon Wishlist</a>

        </div>
      </section>

		</main> <!-- end main -->
		<!--===== END MAIN =====-->

    {% include footer.html %}

  	{% include scripts.html %}


	</body>

</html>
