---
---

<!DOCTYPE html>

<html lang="en">

	{% include head.html %}

	<body>

    <!--===== BEGIN MAIN =====-->
		<main>

			{% include header.html %}

			<section class="Section--hero u-full">
			<div class="u-container">

				<div class="HeroBox">
					<h1>Donations</h1>
					<p class="u-emphasis">Make an investment in your community</p>
				</div>

			</div>
			</section> <!-- end hero section -->

			<section class="Section--donate">
        <div class="u-container u-twoThirds u-block u-marginX--auto">

          <h3 class="SubHeading">How you can make a difference</h3>
          <h2>Donate</h2>

          <p class="FullParagraph">Your donation will enable us to continue offering specialized services that will reach more community members with severe mental illness.</p>
 
          <p class="FullParagraph">Tax deductible donations can be made payable to XDS. Mail checks to <strong>XDS, PO Box 368, Carrboro, NC 27510</strong>.</p>
           
          <p class="FullParagraph">We are grateful for all contributions to our health and wellness initiatives.</p>

        </div>
      </section>

		</main> <!-- end main -->
		<!--===== END MAIN =====-->

    {% include footer.html %}

  	{% include scripts.html %}


	</body>

</html>
