---
---

<!DOCTYPE html>

<html lang="en">

	{% include head.html %}

	<body>

    <!--===== BEGIN MAIN =====-->
		<main>

			{% include header.html %}

			<section class="Section--hero u-full" data-parallax="scroll" data-image-src="/assets/images/hero.png" data-speed=".65">
			<div class="u-container">

				<div class="HeroLeft">
					<h1 class="HeroLeft-header">XDS is making a difference in <br>North Carolina</h1>

					<p class="HeroLeft-paragraph u-emphasis">Food as medicine. Farming as therapy. Housing as healthcare.</p>
					<a class="Button Button--tertiary">Join us today</a>
				</div>

			</div>
			</section> <!-- end hero section -->

			<section class="Section--programs u-full">
			<div class="u-container">

				<a class="ContinueToContent" href="#beginContent"><span class="u-noDisplay">Continue to content</span></a>

				<h3 id="beginContent" class="SubHeading">How we make a difference</h3>
				<h2>Learn more about our programs</h2>

				<div class="u-oneFourth">
					<a class="ProgramCard" id="paws" href="#">
						<div class="ProgramCard-title"><span>PAWS</span></div>
					</a>
				</div>

				<div class="u-oneFourth">
					<a class="ProgramCard" id="farm" href="#">
						<div class="ProgramCard-title"><span>Farm at Penny Lane</span></div>
					</a>
				</div>

				<div class="u-oneFourth">
					<a class="ProgramCard" id="wellness" href="#">
						<div class="ProgramCard-title"><span>Wellness Programs</span></div>
					</a>
				</div>

				<div class="u-oneFourth">
					<a class="ProgramCard" id="tinyHomes" href="#">
						<div class="ProgramCard-title"><span>Tiny Homes Collaborative</span></div>
					</a>
				</div>

			</div>
			</section> <!-- end .Section--programs -->

			<section class="Section--vignette u-full" data-parallax="scroll" data-image-src="/assets/images/opt_bg_farm.png" data-speed=".65">
			<div class="u-container">

				<div class="VignetteContainer">
					<h3 class="SubHeading">Lorem ipsum dolor sit amet</h3>

					<p class="VignetteContainer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut mauris ante. Sed volutpat accumsan elit, sit amet egestas nulla mattis et.</p>

					<p class="VignetteContainer-paragraph">Pellentesque gravida eros vehicula posuere malesuada. Nunc sit amet nibh non sapien faucibus condimentum.</p>

					<a href="#" class="Button Button--primary">Click me</a>
				</div>

			</div>
			</section> <!-- end .Section--vignette -->


			<section class="Section--media u-full">
			<div class="u-container">

				<h3 class="SubHeading">Media coverage across the state</h3>
				<h2>XDS in the media</h2>

				<div class="u-oneFourth">
					<a class="MediaSource" id="wral" href="#"><span>WRAL</span></a>
				</div>
				<div class="u-oneFourth">
					<a class="MediaSource" id="wunc" href="#"><span>WUNC</span></a>
				</div>
				<div class="u-oneFourth">
					<a class="MediaSource" id="dth" href="#"><span>Daily Tar Heel</span></a>
				</div>

				<div class="u-oneFourth">
					<aside class="LinkList LinkList--news">
						<h4 class="LinkList-header"><i class="fa fa-newspaper-o"></i>XDS in the news</h4>

						<ul class="LinkList-unorderedList">
							<li class="LinkList-listItem"><a class="LinkList-link" href="#">Duis vehicula at urna</a></li>
							<li class="LinkList-listItem"><a class="LinkList-link" href="#">Etiam nisi odio</a></li>
							<li class="LinkList-listItem"><a class="LinkList-link" href="#">Aliquam posuere sem a arcu</a></li>
							<li class="LinkList-listItem"><a class="LinkList-link" href="#">Quisque tortor risus, scelerisque</a></li>
							<li class="LinkList-listItem"><a class="LinkList-link" href="#">Vivamus faucibus feugiat tristique</a></li>
						</ul>
					</aside>
				</div>

			</div>
			</section> <!-- end .Section--media -->


			<section class="Section--partners u-full">
			<div class="u-container">

				<h3 class="SubHeading">Efficieny through collaboration</h3>
				<h2>Partners in service</h2>

				<!-- <div class="u-oneThird">
					<a href="https://www.med.unc.edu/psych/cecmh" class="Circle Circle--partner">
						<div class="Circle-container">
							<p>UNC Center for Excellence in Community Mental Health</p>
						</div>
					</a>
				</div>

				<div class="u-oneThird">
					<a href="http://www.cardinalinnovations.org/" class="Circle Circle--partner">
						<div class="Circle-container">
							<p>Cardinal Innovations Healthcare Solutions</p>
						</div>
					</a>
				</div>

				<div class="u-oneThird">
					<a href="https://www.facebook.com/tinyhomecommunitycollaborative/" class="Circle Circle--partner">
						<div class="Circle-container">
							<p>Tiny Home Community Collaborative</p>
						</div>
					</a>
				</div> -->

				<div class="u-oneThird">
					<h4>UNC Center for Excellence in Community Mental Health</h4>

					<p>Providing community mental health services in central North Carolina in partnership with XDS.</p>

					<a href="https://www.med.unc.edu/psych/cecmh" class="Button Button--tertiary">Visit their website</a>
				</div>

				<div class="u-oneThird">
					<h4>Cardinal Innovations Healthcare</h4>

					<p>Providing funding and logistical support for mental health services in central North Carolina, partnering with XDS on a number of community programs.</p>

					<a href="http://www.cardinalinnovations.org/" class="Button Button--tertiary">Visit their website</a>
				</div>

				<div class="u-oneThird">
					<h4>Tiny Home Community Collaborative</h4>

					<p>Collaborating with XDS to pilot tiny home projects in Chatham County, NC.</p>

					<a href="https://www.facebook.com/tinyhomecommunitycollaborative/" class="Button Button--tertiary">Visit their website</a>
				</div>

			</div>
			</section> <!-- end .Section--partners -->

		</main> <!-- end main -->
		<!--===== END MAIN =====-->

    {% include footer.html %}

  	{% include scripts.html %}


	</body>

</html>
