---
---

<!DOCTYPE html>

<html lang="en">

	{% include head.html %}

	<body>

    <!--===== BEGIN MAIN =====-->
		<main>

			{% include header.html %}

			<section class="Section--hero u-full">
			<div class="u-container">

				<div class="HeroBox">
					<h1>Our initiatives</h1>
					<p class="u-emphasis">Learn about the services and programs we offer</p>
				</div>

			</div>
			</section> <!-- end hero section -->

			<section id="paws" class="Section--paws u-full">
			<div class="u-container">

				<h3 class="SubHeading">PAWS</h3>
				<h2>The power of Man&rsquo;s best friend</h2>

				<figure class="u-oneThird Figure Figure--image">
					<img class="Figure-image" src="/assets/images/opt_sm_bg_paws.png" alt="A photo of a PAWS puppy in training" width="100%" height="100%">
					<figcaption class="Figure-caption">A photo of a PAWS puppy in training</figcaption>
				</figure>

				<div class="u-twoThirds">
					<p class="FullParagraph">In  collaboration with <a href="https://www.med.unc.edu/psych/cecmh">UNC Center for Excellence in Community Mental Health</a> and paws4people foundation, <a href="http://paws4people.org/">the shelter to Pet program</a> assists people with serious mental illness learn to train shelter dogs for adoption by forever homes in our community.</p>

					<h4>Puppy Development Center at Penny Lane</h4>

					<p class="FullParagraph">At the puppy development center, clients and community volunteers interact with puppies to provide socialization as the first stage of preparing them to be service dogs.</p>

					<p class="FullParagraph">During the 10-week stay at Penny Lane, the puppies visit schools, hospitals, retirement homes and other community venues, which contributes to their training goals.Their overall socialization training includes: Sensitization, confidence building, and problem solving.</p>

					<a href="/services" class="Button Button--primary">Make a referral</a>
				</div>

			</div>
			</section> <!-- end .Section--paws -->

			<section id="farm" class="Section--farm">
			<div class="u-container">

				<h3 class="SubHeading">The Farm at Penny Lane</h3>
				<h2>Farming as therapy</h2>

				<figure class="u-oneThird Figure Figure--image">
					<img class="Figure-image" src="/assets/images/opt_sm_bg_farm.png" alt="Tomatoes on the vine at the Farm" width="100%" height="100%">
					<figcaption class="Figure-caption">Tomatoes on the vine at the Farm</figcaption>
				</figure>

				<div class="u-twoThirds">
					<p class="FullParagraph">The Farm at Penny Lane partners with individuals with mental illness to grow nutritious food for themselves and others and offers integrated, community-based, therapeutic programs in an inclusive farm setting.</p>

					<p class="FullParagraph">Our major goals:</p>

					<p class="FullParagraph">
						<ul class="FullParagraph-unorderedList">
							<li class="FullParagraph-listItem">Maximize social, cognitive, physical, and psychological functioning of participants</li>
							<li class="FullParagraph-listItem">Enhance the general health and wellness of individuals</li>
							<li class="FullParagraph-listItem">Facilitate entrepreneurship for program participants</li>
							<li class="FullParagraph-listItem">Break down barriers in the community and reduce the stigma associated with mental illness</li>
						</ul>
					</p>

					<p class="FullParagraph">The farm is in development and currently includes a community garden, a greenhouse, an apiary with ten beehives, a flock of heritage-breed chickens, and a walking trail.</p>

					<h4>Community Garden</h4>

					<p class="FullParagraph">Staff and volunteers broke ground and planted a community garden in the fall of 2012. Bee hives, and a greenhouse have been added to the garden area. Chickens also arrived in the spring of 2014 and produce beautiful, brown eggs.</p>

					<p class="FullParagraph">Food from the garden is distributed to participants and others in the community.</p>


					<h4>Tours of the Farm</h4>

					<p class="FullParagraph">We set aside Thursday afternoons for farm tours. Please contact the Farm Program Manager to schedule a visit.</p>


					<h4>Programs</h4>

					<p class="FullParagraph">Read more about other programs offered at the Farm.</p>

					<!-- Accordion for 'Horticultural therapy' -->
					<div class="Accordion">
						<div class="Accordion-header">
							<h5><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Horticultural Therapy</h5>
						</div>

						<div class="Accordion-content is-collapsed">
							<p class="FullParagraph">A professional horticultural therapist from the North Carolina Botanical Gardens plans and conducts activity sessions to help participants achieve the following benefits:</p>

							<p class="FullParagraph">
								<ul class="FullParagraph-unorderedList">
									<li class="FullParagraph-listItem">Physical health through purposeful exercise (level determined by ability), fresh air, learning about nutrition, practicing healthy eating</li>
									<li class="FullParagraph-listItem">Emotional health through stress reduction, connecting to nature, creative expression, successful outcomes with plants</li>
									<li class="FullParagraph-listItem">Social health through social interaction, cooperative enterprise, community building</li>
									<li class="FullParagraph-listItem">Learning new skills in horticulture and related fields to promote vocational and leisure opportunities</li>
								</ul>
							</p>

							<p class="FullParagraph">Participants in the program learn about gardening, nutrition, and how to prepare healthy food. Gardening also provides the opportunity for socializing and exercising.</p>

							<div class="ContactCard">
								<h4 class="FullParagraph">Contact:</h4>
								<p class="FullParagraph">Sally Haskett, Horticultural Therapist</p>
								<p class="FullParagraph"><a href="mailto:haskett@email.unc.edu">
									<i class="fa fa-envelope-o u-inline" aria-hidden="true"></i>haskett@email.unc.edu</a>
								</p>
								<p class="FullParagraph"><a href="tel:9196162262"><i class="fa fa-phone u-inline"></i>919-616-2262</a></p>
							</div>
						</div>
					</div>

					<!-- Accordion for 'Wednesdays in the Farm' -->
					<div class="Accordion">
						<div class="Accordion-header">
							<h5><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Wednesdays in the Garden</h5>
						</div>

						<div class="Accordion-content is-collapsed">
							<p class="FullParagraph">Group members participate in the seasonal work of the farm doing activities matched as closely as possible to their abilities and interests. Jessamine, the farmer, will teach a lesson about each new activity.</p>

							<p class="FullParagraph">On a typical day, participants can expect to do the following things:</p>

							<p class="FullParagraph">
								<ul class="FullParagraph-unorderedList">
									<li class="FullParagraph-listItem">Mix potting soil</li>
									<li class="FullParagraph-listItem">Plant seeds in trays</li>
									<li class="FullParagraph-listItem">Pick ripe vegetables</li>
									<li class="FullParagraph-listItem">Plant seeds in the ground</li>
									<li class="FullParagraph-listItem">Transplant seedlings into larger pots or into the field</li>
									<li class="FullParagraph-listItem">Put mulch on beds</li>
									<li class="FullParagraph-listItem">And more!</li>
								</ul>
							</p>

							<div class="ContactCard">
								<h4 class="FullParagraph">Contact:</h4>
								<p class="FullParagraph">Michelle Morehouse, Program Manager</p>
								<p class="FullParagraph"><a href="mailto:michelle_morehouse@med.unc.edu">
									<i class="fa fa-envelope-o u-inline" aria-hidden="true"></i>michelle_morehouse@med.unc.edu</a>
								</p>
								<p class="FullParagraph"><a href="tel:9198693419"><i class="fa fa-phone u-inline"></i>919-869-3419</a></p>
							</div>
						</div>
					</div>

					<!-- Accordion for 'Farm Work Days' -->
					<div class="Accordion">
						<div class="Accordion-header">
							<h5><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Farm Work Days</h5>
						</div>

						<div class="Accordion-content is-collapsed">
							<p class="FullParagraph">We meet as a community to tend to the current needs of the farm. Volunteers assist in the following ways: Planting, watering, weeding, mulching, harvesting,  trail maintenance, and special projects.</p>

							<p class="FullParagraph">Weekly and monthly work days serve three main purposes:</p>

							<p class="FullParagraph">
								<ul class="FullParagraph-unorderedList">
									<li class="FullParagraph-listItem"><span class="u-emphasis">Community-building</span> &mdash; Everyone who comes out to help is considered a volunteer. There is no distinction made between those with or without a mental health diagnosis. This is a powerful way to break down the stigma surrounding mental illness.</li>
									<li class="FullParagraph-listItem"><span class="u-emphasis">Sustainability</span> &mdash; With a half- acre in production, a flock of chickens, a greenhouse, an apiary, and a walking trail it takes the efforts of many to keep things running smoothly.</li>
									<li class="FullParagraph-listItem"><span class="u-emphasis">Education</span> &mdash; Besides learning about the unique opportunities provided at the farm, individuals can learn about sustainable agriculture, taking away skills they can use in their own gardens.</li>
								</ul>
							</p>

							<p class="FullParagraph">Weekday Work Day Schedule</p>

							<p class="FullParagraph">
								<ul class="FullParagraph-unorderedList">
									<li class="FullParagraph-listItem">Tuesdays from 9 AM &mdash; 12 PM</li>
									<li class="FullParagraph-listItem">Fridays from 10 AM &mdash; 12 PM</li>
								</ul>
							</p>

							<p class="FullParagraph">Weekend Work Day Schedule</p>

							<p class="FullParagraph">
								<ul class="FullParagraph-unorderedList">
									<li class="FullParagraph-listItem">Second Saturdays from 9 AM &mdash; 12 PM&#42;</li>
								</ul>
							</p>

							<p class="FullParagraph">Please use our online volunteer sign up.</p>

							<p class="FullParagraph">&#42;Our schedule varies. Check the calendar for upcoming weekend work day times.</p>

							<p class="FullParagraph">Volunteering Guidelines:</p>

							<p class="FullParagraph">
								<ul class="FullParagraph-unorderedList">
									<li class="FullParagraph-listItem">Please give us <span class="u-emphasis">24 hour notice</span> when signing up or canceling. We plan our work around volunteer availability. If you arrive unexpectedly or don’t show up at all it can have a major impact on our staff.</li>
									<li class="FullParagraph-listItem">Wear closed-toed shoes, dress for the weather, and bring a reusable drink container, sunscreen, and bug spray</li>
									<li class="FullParagraph-listItem">All volunteers must complete a Volunteer Information Form and a Visitor Consent, Release, and Indemnity Agreement.</li>
									<li class="FullParagraph-listItem">Youth, 17 and younger without a driver’s license, must be under the supervision of a parent or guardian.</li>
								</ul>
							</p>
						
							<div class="ContactCard">
								<h4 class="FullParagraph">Contact:</h4>
								<p class="FullParagraph">Michelle Morehouse, Program Manager</p>
								<p class="FullParagraph"><a href="mailto:michelle_morehouse@med.unc.edu">
									<i class="fa fa-envelope-o u-inline" aria-hidden="true"></i>michelle_morehouse@med.unc.edu</a>
								</p>
								<p class="FullParagraph"><a href="tel:9198693419"><i class="fa fa-phone u-inline"></i>919-869-3419</a></p>
							</div>

							<a href="https://www.volunteerspot.com/login/entry/6562670120123" class="Button Button--tertiary">Sign Up to Volunteer</a>
						</div>
					</div>

			</div>
			</section> <!-- end .Section--farm -->

			<section id="wellness" class="Section--wellness">
			<div class="u-container">

				<h3 class="SubHeading">Wellness Programs</h3>
				<h2>Holistic wellness and wellbeing</h2>

				<figure class="u-oneThird Figure Figure--image">
					<img class="Figure-image" src="/assets/images/opt_sm_bg_wellness.png" alt="Yoga and other wellness activities are important for overall wellbeing" width="100%" height="100%">
					<figcaption class="Figure-caption">Yoga and other wellness activities are important for overall wellbeing</figcaption>
				</figure>

				<div class="u-twoThirds">
					<p class="FullParagraph">The Wellness Center at Penny Lane provides complimentary therapy to clients with chronic mental illness in a non-clinical environment.</p>

					<p class="FullParagraph">There is much research that the therapies we refer to as "Wellness" enhance the benefits of traditional medical therapy. Our vision of providing the best care is one that extends beyond traditional therapy to self-care and spiritual healing to enhance quality of life.</p>

					<h4>Workshops and classes</h4>

					<p class="FullParagraph">XDS is proud to offer several wellness courses and workshops. For example, an eight-week workshop entitled &ldquo;Art to Feed Your Soul&rdquo; helps participants play with various art forms and engage in mindful art projects.</p>

					<p class="FullParagraph">Additionally, XDS has also offered an eight-week midfulness course, &ldquo;Becoming Mindful&rdquo;, which helps participants learn to use basic meditative and mindfulness skills.</p>

					<a href="/contact" class="Button Button--primary">Make a referral</a>
				</div>

			</div>
			</section> <!-- end .Section--wellness -->


			<section id="housing" class="Section--housing">
			<div class="u-container">

				<h3 class="SubHeading">Tiny Homes and Housing</h3>
				<h2>Housing as healthcare</h2>

				<figure class="u-oneThird Figure Figure--image">
					<img class="Figure-image" src="/assets/images/opt_sm_bg_tiny-home.png" alt="Tiny homes as a solution to housing and health instability" width="100%" height="100%">
					<figcaption class="Figure-caption">Tiny homes as a solution to housing and health instability</figcaption>
				</figure>

				<div class="u-twoThirds">
					<p class="FullParagraph">Homelessness exacerbates illness, and creates a psychological environment in which recovery, in
					any form, is next to impossible.</p>

					<p class="FullParagraph">Which is why, at Penny Lane, we view housing as healthcare.</p>

					<p class="FullParagraph">Our vision at the Farm is to assist individuals living with mental health challenges to find a way	to become self-sufficient and have an improved quality of life. One of the ways we can do that is	to offer a housing solution that is affordable, energy efficient, and located in a supportive	community environment. A tiny home community on the Penny Lane campus offers a practical solution to the life of chronic homelessness and isolation experienced by many individuals with	mental illness.</p>

					<h4>What is a tiny home?</h4>

					<p class="FullParagraph">Tiny homes do not exceed 500 square feet. They are far less expensive than traditional homes in terms of taxes, building, heating, maintenance, and repair costs. Living in a tiny home also encourages a less cluttered and simpler lifestyle and minimizes ecological impacts.</p>

					<a href="https://www.facebook.com/tinyhomecommunitycollaborative/?fref=ts" class="Button Button--secondary">Tiny Home Community Collaborative</a>
				</div>

			</div>
			</section> <!-- end .Section--housing -->

		</main> <!-- end main -->
		<!--===== END MAIN =====-->

    {% include footer.html %}

  	{% include scripts.html %}


	</body>

</html>
