---
---

<!DOCTYPE html>

<html lang="en">

	{% include head.html %}

	<body>

    <!--===== BEGIN MAIN =====-->
		<main>

			{% include header.html %}

			<section class="Section--hero u-full">
			<div class="u-container">

				<div class="HeroBox">
					<h1>Our programs</h1>
					<p class="u-emphasis">Learn about the services and programs we offer</p>
				</div>

			</div>
			</section> <!-- end hero section -->

			<section class="Section--paws u-full">
			<div class="u-container">

				<h3 class="SubHeading">PAWS</h3>
				<h2>Therapeutic dog support</h2>

				<figure class="u-oneThird Figure Figure--image">
					<img class="Figure-image" src="/assets/images/opt_sm_bg_paws.png" alt="A photo of a PAWS puppy in training" width="100%" height="100%">
					<figcaption class="Figure-caption">A photo of a PAWS puppy in training</figcaption>
				</figure>

				<div class="u-twoThirds">
					<p class="FullParagraph">Curabitur at elit sollicitudin, sollicitudin ipsum vel, fringilla metus. Aliquam cursus mauris a enim suscipit aliquam. Nullam sed ex eget urna suscipit eleifend. Duis finibus est et sodales sagittis.</p>

					<p class="FullParagraph">Vivamus nisl ante, iaculis lobortis vehicula et, fermentum sed augue. Quisque eget tortor commodo, sagittis turpis eget, ullamcorper ligula.<a href="#">Vestibulum nulla</a> leo, fermentum eu sollicitudin in, congue molestie sem. Nulla auctor gravida nunc in interdum. Fusce in leo nibh.</p>

					<a href="/services" class="Button Button--primary">Make a referral</a>
				</div>

			</div>
			</section> <!-- end .Section--paws -->

			<section class="Section--farm">
			<div class="u-container">

				<h3 class="SubHeading">The Farm at Penny Lane</h3>
				<h2>Farming as therapy</h2>

				<figure class="u-oneThird Figure Figure--image">
					<img class="Figure-image" src="/assets/images/opt_sm_bg_farm.png" alt="Tomatoes on the vine at the Farm" width="100%" height="100%">
					<figcaption class="Figure-caption">Tomatoes on the vine at the Farm</figcaption>
				</figure>

				<div class="u-twoThirds">
					<p class="FullParagraph">Etiam egestas magna eu <a href="#">tellus commodo eleifend</a>. In euismod mauris metus, vel accumsan massa dignissim nec Duis finibus est et sodales sagittis.</p>

					<p class="FullParagraph">Nullam in enim mauris. Phasellus sed justo dui. Mauris tincidunt lectus eu lacus dictum, at tincidunt neque rhoncus. Morbi posuere mattis venenatis.</p>

					<a href="/contact" class="Button Button--tertiary">Ask about the Farm</a>
				</div>

			</div>
			</section> <!-- end .Section--farm -->

			<section class="Section--wellness">
			<div class="u-container">

				<h3 class="SubHeading">Wellness Programs</h3>
				<h2>Holistic wellness and wellbeing</h2>

				<figure class="u-oneThird Figure Figure--image">
					<img class="Figure-image" src="/assets/images/opt_sm_bg_wellness.png" alt="Yoga and other wellness activities are important for overall wellbeing" width="100%" height="100%">
					<figcaption class="Figure-caption">Yoga and other wellness activities are important for overall wellbeing</figcaption>
				</figure>

				<div class="u-twoThirds">
					<p class="FullParagraph">Vestibulum ornare metus at eleifend congue. Morbi tristique in odio ac accumsan. Mauris feugiat est ut ante ullamcorper, non vulputate sem sollicitudin. Sed tempus odio vitae augue maximus eleifend.</p>

					<p class="FullParagraph">Vestibulum rhoncus turpis quam, sed feugiat tortor consectetur et. Quisque tincidunt nunc ac diam</p>

					<a href="/contact" class="Button Button--primary">Make a referral</a>
				</div>

			</div>
			</section> <!-- end .Section--wellness -->


			<section class="Section--housing">
			<div class="u-container">

				<h3 class="SubHeading">Tiny Homes and Housing</h3>
				<h2>Housing as healthcare</h2>

				<figure class="u-oneThird Figure Figure--image">
					<img class="Figure-image" src="/assets/images/opt_sm_bg_tiny-home.png" alt="Tiny homes as a solution to housing and health instability" width="100%" height="100%">
					<figcaption class="Figure-caption">Tiny homes as a solution to housing and health instability</figcaption>
				</figure>

				<div class="u-twoThirds">
					<p class="FullParagraph">Maecenas faucibus elit sit amet ex tempor, at ultricies eros ullamcorper. Curabitur sed bibendum mauris. Quisque sagittis, ligula eget ornare varius, sapien eros porta leo, eu laoreet nulla ex quis augue. <a href="#">In interdum libero</a> dolor, feugiat ultrices nisl imperdiet a.</p>

					<p class="FullParagraph">Pellentesque vel quam pretium, rutrum diam non, tincidunt magna. Aenean eget scelerisque est. Ut mauris ligula, posuere id consectetur in, congue ut ex.</p>

					<a href="https://www.facebook.com/tinyhomecommunitycollaborative/?fref=ts" class="Button Button--secondary">Tiny Home Community Collaborative</a>
				</div>

			</div>
			</section> <!-- end .Section--housing -->

		</main> <!-- end main -->
		<!--===== END MAIN =====-->

    {% include footer.html %}

  	{% include scripts.html %}


	</body>

</html>
