.u-inlineBlock {
  @include display(inline-block);
  margin: 0; // helps w/ extra spacing w/ display: inline-block
  line-height: 100%; // helps w/ extra spacing w/ display: inline-block
  margin-left: -4px; // helps w/ extra spacing w/ display: inline-block;

  @media (max-width: $mobile) {
    margin-left: 0;
  }

}

.u-block {
  @include display(block);
}

.u-inline {
	@include display(inline);
}

.u-emphasis {
  font-style: italic;
}

.u-noDisplay {
  margin-left: -9999px; // hides from users not using screen readers
}

.u-pd--0 {
  padding: 0;
}

.u-marginX--auto {
  margin-left: auto;
  margin-right: auto;
}

.u-mg-t--0 {
  margin-top: 0;
}

.u-mg-b--sm {
  margin-bottom: $sm-padding;
}

.u-mg-l--xs {
  margin-left: $sm-padding / 2;
}

.u-mg-l--sm {
  margin-left: $sm-padding;
}

.u-mg-b--0 {
  margin-bottom: 0;
}

.u-pd-l--0 {
  padding-left: 0;
}
