$light-base: #FFFFE2;
  $light-base-darkened: darken($light-base, 20%);
$dark-base: #333333;
  $dark-base-lightened: lighten($dark-base, 50%);
$primary-accent: #EB7F00;
  $primary-accent-darkened: #EB5C00;
$light-secondary-accent: #1695A3;
$secondary-accent: #225378;
  $secondary-accent-darkened: darken($secondary-accent, 5%);
$highlight: #ACF0F2;
  $highlight-darkened: darken($highlight, 8%);
$light-gray: #EDEDED;
$med-gray: darken($light-gray, 5%);
