.u-container {
  max-width: $desktopWide + 100px;
  margin: 0 auto; // centers;
}

.u-full {
  width: 100%;
}

.u-twoThirds {
  @extend .u-inlineBlock;
  width: calc(2/3);
  padding-right: $sm-padding;

  @media (max-width: $mobile) {
    width: 100%;
  }

}

.u-oneHalf {
  @extend .u-inlineBlock;
  width: 50%;
  padding-right: $sm-padding;

  @media (max-width: $mobile) {
    width: 100%;
  }

}

.u-oneThird {
  @extend .u-inlineBlock;
  width: calc(1/3);
  padding-right: $sm-padding;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.u-oneFourth {
  @extend .u-inlineBlock;
  width: 25%;
  padding-right: $sm-padding;

  @media (max-width: $tablet) {
    width: 50%;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }

}
