$primary-font-stack: 'Crimson Text', sans-serif;
$secondary-font-stack: 'Montserrat', sans-serif;

body {
  font-size: 62.5%; // used for rem font-sizing so that they correspond roughly to px
  font-family: $primary-font-stack;
}

h1 {
  font-family: $secondary-font-stack;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 130%;
  margin-bottom: $xs-padding/2;

  @media(min-width:$mobile){
    font-size: 2rem;
    margin-bottom: $md-padding;
  }

}

h2 {
  font-family: $secondary-font-stack;
  font-size: 1.75rem;
  line-height: 125%;
  font-weight: 700;
  margin-bottom: $lg-padding;

  @media(min-width:$mobile) {
    font-size: 2.2rem;
  }

}

h3 {
  font-family: $secondary-font-stack;
  font-size: 1.2rem;
  line-height: 130%;
  margin-bottom: $lg-padding;

  @media(min-width:$mobile) {
    font-size: 1.6rem;
  }

}

h4 {
  font-family: $secondary-font-stack;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
  margin-top: $xs-padding;
  margin-bottom: $sm-padding;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media(min-width:$mobile) {
    font-size: 1.6rem;
  }

}

a {
  font-size: 1.1rem;
  line-height: 130%;
}

p {
  font-size: 1rem;
  line-height: 130%;

  @media (min-width: $mobile) {
    font-size: 1.2rem;
    line-height: 140%;
    margin-bottom: $sm-padding;
  }

}

  p:last-of-type {
    margin-bottom: $md-padding;
  }

  p a {
    color: $light-secondary-accent;
    @include transition(color .4s ease);

    &:hover {
      color: $secondary-accent;
    }
  }


.SubHeading {
  font-family: $primary-font-stack;
  color: $dark-base-lightened;
  border-bottom: 1px solid $dark-base-lightened;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-right: -4px;
  margin-bottom: $lg-padding;
  padding-bottom: $xs-padding;
}

  .SubHeading .fa {
    margin-right: .9rem;
  }
