.u-inlineBlock {
  @include display(inline-block);
  margin: 0; // helps w/ extra spacing w/ display: inline-block
  line-height: 100%; // helps w/ extra spacing w/ display: inline-block
  margin-left: -4px; // helps w/ extra spacing w/ display: inline-block;

  @media (max-width: $mobile) {
    margin-left: 0;
  }

}

.u-inline {
	@include display(inline);
}

.u-emphasis {
  font-style: italic;
}

.u-noDisplay {
  margin-left: -9999px; // hides from users not using screen readers
}
