<!--===== BEGIN FOOTER =====-->
<footer class="u-full">
<div class="u-container">

  <div class="u-oneThird">
    <a class="SocialMedia SocialMedia--Facebook" href="#"><span>Facebook</span></a>
    <a class="SocialMedia SocialMedia--Twitter" href="#"><span>Twitter</span></a>
    <a class="SocialMedia SocialMedia--YouTube" href="#"><span>YouTube</span></a>
    <a class="SocialMedia SocialMedia--LinkedIn" href="#"><span>LinkedIn</span></a>
  </div>

  <div class="u-twoThirds">
    <ul class="FooterUnorderedList">
      <li class="FooterUnorderedList-listItem"><a class="FooterUnorderedList-link" href="/about">About</a></li>
      <li class="FooterUnorderedList-listItem"><a class="FooterUnorderedList-link" href="/programs">Programs</a></li>
      <li class="FooterUnorderedList-listItem"><a class="FooterUnorderedList-link" href="/services">Services</a></li>
      <li class="FooterUnorderedList-listItem"><a class="FooterUnorderedList-link" href="/contact">Contact</a></li>
      <li class="FooterUnorderedList-listItem"><a class="FooterUnorderedList-link" href="/donate">Donate</a></li>
    </ul>
  </div>

  <div class="u-full">
    <p>All rights reserved, XDS 2016</p>
    <p>Site design by <a href="http://nicklemmon.com">Nick Lemmon</a></p>
  </div>

</div>
</footer>
