<!--===== BEGIN FOOTER =====-->
<footer>
<div class="u-container">

  <div class="u-oneThird">
    <p>All rights reserved, XDS {{ site.time | date: '%Y' }}</p>
    <p>Site design by <a href="http://nicklemmon.com">Nick Lemmon</a></p>
    <p><a href="#topAnchor"><i class="fa fa-chevron-up"></i>Back to the top</a></p>
  </div>

  <div class="u-twoThirds">
    <ul class="FooterUnorderedList">
      <li class="FooterUnorderedList-listItem"><a class="FooterUnorderedList-link" href="/index.html"><i class="fa fa-home"></i>Home</a></li>
      <li class="FooterUnorderedList-listItem"><a class="FooterUnorderedList-link" href="/about"><i class="fa fa-list"></i>About</a></li>
      <li class="FooterUnorderedList-listItem"><a class="FooterUnorderedList-link" href="/initiatives"><i class="fa fa-pie-chart"></i>Initiatives</a></li>
      <li class="FooterUnorderedList-listItem"><a class="FooterUnorderedList-link" href="/services"><i class="fa fa-medkit"></i>Services</a></li>
      <li class="FooterUnorderedList-listItem"><a class="FooterUnorderedList-link" href="/contact"><i class="fa fa-envelope"></i>Contact</a></li>
      <li class="FooterUnorderedList-listItem"><a class="FooterUnorderedList-link" href="/donate"><i class="fa fa-money"></i>Donate</a></li>
    </ul>
  </div>

  

</div>
</footer>
