<header id="topAnchor">
  <div class="MenuBar">
    <a href="/index.html" class="Brand">XDS Inc.</a>
    <a class="MenuOpen">Menu</a> <!-- only displayed to users viewing the site below the viewport established in the stylesheet -->
  </div>

  <nav class="MainNavigation">
    <a class="MainNavigation-link" href="/about">About</a>
    <a class="MainNavigation-link" href="/initiatives">Initiatives</a>
    <a class="MainNavigation-link" href="/services">Services</a>
    <a class="MainNavigation-link" href="/contact">Contact</a>
    <a class="MainNavigation-link Button Button--ghostNegative" href="https://www.indiegogo.com/projects/the-tiny-home-community-collaborative#/story" target="_blank">Donate</a>
  </nav>
</header> <!-- end header -->
