<section class="Section--programs u-full">
<div class="u-container">

  <a class="ContinueToContent" href="#beginContent"><span class="u-noDisplay">Continue to content</span></a>

  <h3 id="beginContent" class="SubHeading">How we make a difference</h3>
  <h2>Learn More About Our Initiatives</h2>

  <div class="u-oneFourth">
    <a class="ProgramCard" id="farm" href="/initiatives#farm">
      <div class="ProgramCard-title"><span>Farm at Penny Lane</span></div>
    </a>
  </div>

  <div class="u-oneFourth">
    <a class="ProgramCard" id="tinyHomes" href="/initiatives#housing">
      <div class="ProgramCard-title"><span>Tiny Homes Collaborative</span></div>
    </a>
  </div>

  <div class="u-oneFourth">
    <a class="ProgramCard" id="paws" href="/initiatives#paws">
      <div class="ProgramCard-title"><span>PAWS</span></div>
    </a>
  </div>

  <div class="u-oneFourth">
    <a class="ProgramCard" id="wellness" href="/initiatives#wellness">
      <div class="ProgramCard-title"><span>Wellness Programs</span></div>
    </a>
  </div>

</div>
</section> <!-- end .Section--programs -->
