header {
  margin-bottom: $lg-padding;
}

.Brand {
  @extend .u-inlineBlock;
  margin: 0;
  line-height: 100%;
}

.MainNavigation {
  @extend .u-inlineBlock;
  float: right;
  margin: 0;
  line-height: 100%;
}

.MainNavigation-link {
  @extend .u-inlineBlock;
  margin-left: $xs-padding;
  line-height: 100%;
}
