.Section--hero {
  background: #ccc; // temporary
  padding-left: 0;
  padding-right: 0;
  padding-bottom: $xl-padding;
}

  header {
    padding-left: $lg-padding;
    padding-right: $lg-padding;
    margin-bottom: $xl-padding;
  }

  .Brand {
    @extend .u-inlineBlock;
    margin: 0;
    line-height: 100%;
  }

  .MainNavigation {
    @extend .u-inlineBlock;
    font-family: $secondary-font-stack;
    float: right;
    margin: 0;
    line-height: 100%;
  }

  .MainNavigation-link {
    @extend .u-inlineBlock;
    font-size: 1rem;
    margin-left: $sm-padding;
    line-height: 100%;
    text-decoration: none;
    color: white;
  }
