.Section--hero {
  //background: url('/assets/images/hero.png') $dark-base; // commented out - served through data-attribute in html
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: $xl-padding;
  overflow: hidden;
  position: relative;
}

  header {
    padding-left: $lg-padding;
    padding-right: $lg-padding;
    margin-bottom: $xl-padding;
  }

  .Brand {
    @extend .u-inlineBlock;
    width: 240px;
    height: 80px;
    margin: 0;
    line-height: 100%;
    background: url('/assets/images/logo_xds-transparent-realigned.png') white no-repeat center;
    background-size: 100%;
  }

    .Brand span {
      @extend .u-noDisplay;
    }
