.Section--media {
  position: relative;
}

  .Section--media .LinkList {

    @media (min-width: $desktopReg) {
      position: absolute;
      top: 0;
      //height: 100%;
    }

  }

@media (min-width: $mobile) and (max-width: $desktopReg) {

  #dth {
    margin-top: $sm-padding; // fixes issue with the media source collapsing inappropriately
  }

}
