.Section--media {
  position: relative;
  overflow: hidden;
  padding-bottom: $xl-padding*2;
  background: $light-base;
}

  .Section--media .LinkList {

    @media (min-width: $desktopReg) {
      position: absolute;
      top: 0;
    }

  }

  .Section--media h2 {
    color: $secondary-accent;
  }

@media (min-width: $mobile) and (max-width: $desktopReg) {

  #dth {
    margin-top: $sm-padding; // fixes issue with the media source collapsing inappropriately
  }

}
