.Section--partners {
  padding-top: $xl-padding;
  padding-bottom: $xl-padding*2;
  background: $light-gray;
}

  .Section--partners h2 {
    color: $secondary-accent;
  }

  .Section--partners h4 {
    color: $dark-base-lightened;
  }

  .Section--partners p {
    color: $dark-base;
  }



  .Section--partners .u-oneThird {
    vertical-align: top;
    
    @media (max-width: $mobile) {
      @include justify-content(center);
      @include align-items(center);
    }

  }
