.Section--partners {
  padding-top: $xl-padding*1.5;
  padding-bottom: $xl-padding*1.5;
  background: $light-gray;
}

  .Section--partners h2 {
    color: $secondary-accent;
  }

  .Section--partners .u-oneThird {

    @media (max-width: $mobile) {
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
    }

  }
