.Section--programs {
  background: $light-gray;
  position: relative;
  padding-top: $lg-padding;
}

  .Section--programs .ContinueToContent {
    margin: 0 auto;
    margin-top: -6rem;
    margin-bottom: $lg-padding;

    @media (max-width: $mobile) {
      margin-top: -4.5rem;
    }

  }

  .Section--programs h2 {
    color: $secondary-accent;
  }
