.Section--programs {
  background: $light-gray;
  position: relative;
}

  .Section--programs .ContinueToContent {
    position: relative;
    z-index: 6;
    margin: 0 auto;
    margin-top: -9rem;

    @media (max-width: $mobile) {
      margin-top: -2.5rem;
    }

  }

  .Section--programs h2 {
    color: $secondary-accent;
  }
