.Section--programs {
  background: $light-gray;
  position: relative;

  @media (max-width: $mobile) {
    padding-top: $xl-padding;
  }

}

  .Section--programs .ContinueToContent {
    position: relative;
    z-index: 6;
    margin: 0 auto;
    margin-top: -9rem;

    @media (max-width: $mobile) {
      margin-bottom: $md-padding;
    }

  }

  .Section--programs h2 {
    color: $secondary-accent;
  }
