.Section--values {

}

  .Section--values .SubHeading {
    @extend .SubHeadingDark;
  }

  .Section--values h2 {
    color: $secondary-accent;
  }

  // .Section--values .OrderedList {
  //   padding: $sm-padding;
  //   border: 1px solid $med-gray;
  //
  //   @media (min-width: $tablet) {
  //     padding: $xl-padding $lg-padding $lg-padding $xl-padding;
  //   }
  //
  // }

  .Section--values .OrderedList-listItem {
    color: $secondary-accent;
  }

  .Section--values .OrderedList-listItem-text {
    color: $secondary-accent;
  }
