// Padding variables
$xs-padding: 1rem;
$sm-padding: 1.5rem;
$md-padding: 2rem;
$lg-padding: 3rem;
$xl-padding: 6rem;

// Media queries
$desktopWide: 1300px;
$desktopReg: 1040px;
$tablet: 900px;
$mobile: 700px;

// Misc
$defaultBorderRadius: .5rem;
$defaultTransition: .4s;
$bigBoxShadow: 0 4rem 5rem rgba(0,0,0,.5);

@mixin cardBoxShadowBorder($color) {
  border-bottom: solid .4rem $color;
}

@mixin cardBoxShadow($color) {
  box-shadow: 0 .4rem 0 $color;
}
