.Button {
  @include display(block);
  font-family: $secondary-font-stack;
  font-size: .9rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-top: $xs-padding;
  margin-bottom: $sm-padding;
  padding: $xs-padding $md-padding;
  max-width: $lg-padding*6;
  position: relative;
  border: none;
  cursor: pointer;
  @include transition(background $defaultTransition ease);
}

.Button--primary {
  color: white;
  text-shadow: 0 .1rem .25rem $primary-accent-darkened;
  background: $primary-accent-darkened;
  box-shadow: inset 0 0 0 .2rem $primary-accent;

  &:hover,
  &:focus,
  &:active {
    background: $primary-accent;
  }

}

.Button--secondary {
  color: white;
  text-shadow: 0 .1rem .25rem $secondary-accent-darkened;
  background: $secondary-accent;
  box-shadow: inset 0 0 0 .2rem $secondary-accent-darkened;

  &:hover,
  &:focus,
  &:active {
    background: $secondary-accent-darkened;
  }

}

.Button--tertiary {
  color: $light-secondary-accent;
  background: $highlight;
  box-shadow: inset 0 0 0 .2rem $light-secondary-accent;

  &:hover,
  &:focus,
  &:active {
    background: $highlight-darkened;
  }

}

.Button--ghost {
  color: $dark-base;
  background: rgba($dark-base, 0);
  box-shadow: inset 0 0 0 .2rem $dark-base;

  &:hover,
  &:focus,
  &:active {
    background: rgba($dark-base, .1);
  }

}

.Button--ghostNegative {
  color: white;
  background: rgba(white, 0);
  box-shadow: inset 0 0 0 .2rem white;

  &:hover,
  &:focus,
  &:active {
    background: rgba(white, .1);
  }

}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-15px));
  }
  60% {
  @include transform(translateY(-15px));
  }
}

.ContinueToContent {
  @include display(block);
  margin: 0 auto;
  text-decoration: none;
  border-bottom-color: transparent;
  background: $light-gray;
  @include size(7rem);
  border-radius: 50%;
  position: relative;
  @include animation(bounce 1.5s 3);
  @include transition(background $defaultTransition ease);

  &:hover,
  &:focus,
  &:active {
    background: $primary-accent;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    color: white;
  }

  @media (max-width: $mobile) {
    @include size(5rem);
  }

}

  .ContinueToContent:before {
    content: "\f078";
    font-family: FontAwesome;
    text-decoration: none;
    border-bottom-color: transparent;
    color: $primary-accent;
    top: 3rem;
    left: 2rem;
    font-size: 3rem;
    position: absolute;
    @include transition(color $defaultTransition ease);

    @media (max-width: $mobile) {
      font-size: 2.5rem;
      top: 1.85rem;
      left: 1.25rem;
    }

  }
