.Button {
  @include display(block);
  font-family: $secondary-font-stack;
  font-size: .9rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: $xs-padding;
  margin-bottom: $sm-padding;
  padding: $xs-padding $md-padding;
  max-width: $lg-padding*4;
  position: relative;
  border: none;
  cursor: pointer;
  @include transition(background $defaultTransition ease);
}

.Button--primary {
  color: white;
  text-shadow: 0 .1rem .25rem $primary-accent-darkened;
  background: $primary-accent-darkened;
  box-shadow: inset 0 0 0 .2rem $primary-accent;

  &:hover,
  &:focus,
  &:active {
    background: $primary-accent;
  }

}

.Button--secondary {
  color: white;
  text-shadow: 0 .1rem .25rem $secondary-accent-darkened;
  background: $secondary-accent;
  box-shadow: inset 0 0 0 .2rem $secondary-accent-darkened;

  &:hover,
  &:focus,
  &:active {
    background: $secondary-accent-darkened;
  }

}

.Button--tertiary {
  color: $light-secondary-accent;
  background: $highlight;
  box-shadow: inset 0 0 0 .2rem $light-secondary-accent;

  &:hover,
  &:focus,
  &:active {
    background: $highlight-darkened;
  }

}

.Button--ghost {
  color: $dark-base;
  background: rgba($dark-base, 0);
  box-shadow: inset 0 0 0 .2rem $dark-base;

  &:hover,
  &:focus,
  &:active {
    background: rgba($dark-base, .05);
  }

}

.Button--ghostNegative {
  color: white;
  background: rgba(white, 0);
  box-shadow: inset 0 0 0 .2rem white;

  &:hover,
  &:focus,
  &:active {
    background: rgba(white, .1);
  }

}
