.Circle {
  border-radius: 50%; // makes a circle!
  text-align: center;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
}

  .Circle-container {

  }

  .Circle--large {
    @include size(400px);
    padding: $lg-padding;
    padding-right: $lg-padding !important; // fixes issue with grid removing right padding
    background: rgba($primary-accent, .8);
    color: white;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $mobile) {
      @include size(550px);
      margin-left: $lg-padding;
      padding-top: $xl-padding;
    }

  }

    .Circle--large .u-emphasis {
      padding-top: $sm-padding;
      border-top: 1px solid white;
      font-size: 1.6rem
    }

  .Circle--med {
    @include size(400px);
    color: white;
    background: rgba($highlight, .9);
    padding: $lg-padding;
  }

  .Circle .Button {
    margin: 0 auto; // centers buttons within .Circle components
  }

  .Circle a {
    color: white;
  }
