.LinkList {
  padding: $xl-padding 0 $lg-padding 0;
  width: 100%;
  height: 100%;

  @media (min-width: $mobile) and (max-width: $desktopReg) {
    display: none;
  }

  @media (min-width: $mobile) {
    padding: $xl-padding 0 $lg-padding 0;
  }

}

  .LinkList .LinkList-header {
    margin: 0 0;
    padding: $md-padding;
    border-bottom: 1px solid $dark-base-lightened;
  }

  .LinkList .LinkList-unorderedList {
    margin-bottom: $md-padding;
  }

  .LinkList .LinkList-listItem {
    overflow: hidden; // hides overflowing link that is set to wider than its parent for the transform animation
  }

  .LinkList .LinkList-link {
    @include display(block);
    font-size: 1.3rem;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 100%;
    position: relative;
    padding: $md-padding $lg-padding*2;
    margin-left: -$xs-padding;
    @include transition(transform $defaultTransition ease, background $defaultTransition*2 ease);

    &:hover,
    &:focus,
    &:active {
      background: $dark-base-darkened;
      @include transform(translateX(.25rem));
    }

  }



  .LinkList--news {
    background: $dark-base;
    color: white;
  }

    .LinkList--news .LinkList-link {
      color: white;
      text-decoration: none;
    }

      .LinkList--news .LinkList-link:before {
        content: '\f054';
        font-family: FontAwesome;
        font-style: normal;
        position: absolute;
        left: $lg-padding;
        top: $md-padding;
      }
