.LinkList {
  padding: $xl-padding $md-padding $md-padding $md-padding;
  width: 100%;

  @media (min-width: $mobile) and (max-width: $desktopReg) {
    display: none;
  }

  @media (min-width: $mobile) {
    padding: $xl-padding*2 $sm-padding $xl-padding*2 $md-padding;
  }

}

  .LinkList .LinkList-listItem {
    margin-bottom: $sm-padding;
  }

  .LinkList .LinkList-link {
    position: relative;
    padding-left: $sm-padding;
  }

  .LinkList--news {
    background: $dark-base;
    color: white;
  }

    .LinkList--news .LinkList-link {
      color: white;
      text-decoration: none;
    }

      .LinkList--news .LinkList-link:before {
        content: '\f054';
        font-family: FontAwesome;
        position: absolute;
        left: 0;
        top: 0;
      }
