.MediaSource {
  @include display(block);
  text-align: center;
  padding: $xl-padding $lg-padding;
  width: 100%;
  color: white;
  background: white;
  box-shadow: 0 .3rem 0 $med-gray;
  @include transition(transform $defaultTransition ease);
  @include transform(translateY(0));

  &:hover,
  &:focus,
  &:active {
    @include transform(translateY(-1rem));
  }

}

  .MediaSource span {
    @extend .u-noDisplay;
  }

.MediaSource#wral {
  //background: #041E30; // taken from www.wral.com
  background: url("/assets/images/logo_wral.png") white no-repeat center;
  background-size: 90%;
}

.MediaSource#wunc {
  //background: #4A565F; // taken from www.wunc.org
  background: url("/assets/images/logo_wunc.jpg") white no-repeat center;
  background-size: 90%;
}

.MediaSource#dth {
  //background: #7BAFD4; // taken from http://identity.unc.edu/colors/
  background: url("/assets/images/logo_dth.jpg") white no-repeat center;
  background-size: 90%;
}
