.Partner {
  @include display(block);
  @include size(300px);
  padding: $lg-padding;
  border-radius: 50%;
  margin: 0 auto;
  @include transition(background $defaultTransition ease);
}

  .Partner span {
    @extend .u-noDisplay;
  }
