.SocialMediaContainer {
  @include display(flex);
  @include align-items(center);
  @include justify-content(flex-start);

  @media (min-width: $tablet) {
    @include justify-content(space-around);
  }
}

.SocialMedia {
  position: relative;
  @include display(inline-block);
  @include size(3rem);
  font-size: 1.4rem;
  border-radius: 50%;
  background: white;
  color: $light-secondary-accent;
  text-decoration: none;
  @include transition(background $defaultTransition*1.5 ease, line-height $defaultTransition*.5 ease);
  margin-right: 10px;

  @media (min-width: $tablet) {
    margin-right: 0;
  }

  &:hover,
  &:focus,
  &:active {
    background: $highlight;
    line-height: 70%; // moves icon up slightly on hover

  }


}

  .SocialMedia span { // hides text from users without screen-readers
    position: absolute;
    left: -9999px;
  }

  .SocialMedia--Facebook:before {
    position: absolute;
    top: 25%;
    left: 35%;
    content: "\f09a";
    font-family: FontAwesome;
  }

  .SocialMedia--Twitter:before {
    position: absolute;
    top: 25%;
    left: 25%;
    content: "\f099";
    font-family: FontAwesome;
  }

  .SocialMedia--YouTube:before {
    position: absolute;
    top: 25%;
    left: 28%;
    content: "\f16a";
    font-family: FontAwesome;
  }

  .SocialMedia--LinkedIn:before {
    position: absolute;
    top: 22%;
    left: 32%;
    content: "\f0e1";
    font-family: FontAwesome;
  }
