.VignetteContainer {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  color: white;
  max-width: 100%;
  padding: $lg-padding;
  background: white;
  margin: 0 auto;
  box-shadow: $bigBoxShadow;
  @include cardBoxShadowBorder($med-gray);

  @media (min-width: $tablet) {
    max-width: 75%;
  }

  @media (min-width: $desktopWide) {
    max-width: 50%;
    margin: $lg-padding auto;
    padding: $xl-padding;
  }

}

  .VignetteContainer .VignetteContainer-paragraph {
    color: $dark-base;
    max-width: 100%;
    font-size: 1.1rem;
    line-height: 150%;
    margin-bottom: 1.1rem;

    @media (min-width: $tablet) {
      font-size: 1.2rem;
      line-height: 160%;
    }

  }

  .VignetteContainer .Button {
    width: 100%;
  }
