.FormBox {
  @include display(block);
  margin: 0 auto;
  margin-top: -$lg-padding*2;
  padding: $md-padding;
  max-width: 100%;
  background: white;
  box-shadow: $bigBoxShadow;
  @include cardBoxShadowBorder($med-gray);

  @media (min-width: $mobile) {
    max-width: 90%;
    margin-top: -$xl-padding*1.75;
  }

  @media (min-width: $desktopReg) {
    max-width: 100% * (2/3);
    padding: $xl-padding $xl-padding $lg-padding $xl-padding;
  }
}

form {
  width: 100%;
  margin-bottom: $sm-padding;
}

  form label {
    font-family: $secondary-font-stack;
    color: $light-secondary-accent;
    @include display(block);
    width: 100%;
    font-size: .9rem;
    margin-bottom: $xs-padding;
  }

    form label:after,
    form label::after {
      margin-left: .5rem;
      content: "\f178";
      font-family: 'FontAwesome';
    }
  form input {
    -webkit-appearance: none;
    line-height: 120%;
    min-height: 3rem; // makes inputs the same height
    margin-right: -1px; // overlaps button with field
    margin-bottom: $xs-padding;
    padding: .5rem 1rem;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

  }

  form textarea,
  form select {
    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  form input[type="text"],
  form input[type="tel"],
  form textarea,
  form select {
    color: $dark-base;
    font-family: 'FontAwesome';
    width: 100%;
    border: 1px solid $dark-base-lightened;
    font-size: 1.2rem;
    border-radius: .4rem;

    &:hover {
      outline-color: transparent;
      border: 1px solid $light-secondary-accent;
    }

  }

  form select {
    height: 3rem;
  }

  form input[type="tel"] {
    -webkit-appearance: none;
  }

  form input[type="submit"] {
    width: 20%;

    @media(max-width: $mobile) {
      width: 100%;
    }

  }

  form textarea {
    padding: $xs-padding;
  }

  form textarea {
    height: $xl-padding*2;
  }

  form select {
    margin-bottom: $xs-padding;
  }

  form select option[selected="selected"] {
    color: $med-gray;
  }
