.HeroBox {
  @include display(block);
  position: relative;
  z-index: 5;
  background: white;
  text-align: center;
  max-width: 100% * (2/3);
  margin: 0 auto;
  margin-top: $lg-padding;
  margin-bottom: -$lg-padding;
  padding: $xl-padding $md-padding $lg-padding $md-padding;
  @include cardBoxShadowBorder($light-gray);
  box-shadow: 0 3rem 5rem rgba(0,0,0,.05);
  clear: both;
  @include animation(fadeInDown $defaultTransition ease);

  @media (max-width: $tablet) {
    max-width: 90%;
  }

  @media (max-width: $mobile) {
    padding: $lg-padding $md-padding $sm-padding $md-padding;
    margin-bottom: -$md-padding;
  }

}

  .HeroBox h1 {
    color: $secondary-accent;
    border-bottom: 1px solid $dark-base;
    padding-bottom: $sm-padding;
    max-width: 800px;

    @media (max-width: $mobile) {
      padding-bottom: $xs-padding;
      margin-bottom: $xs-padding;
    }

  }

  .HeroBox .u-emphasis {
    //margin-top: -$lg-padding*1.5;
    font-size: 1.6rem !important;

    @media (max-width: $desktopReg) {
      font-size: 1.3rem !important;
    }

  }

    // .Section--hero .HeroBox .u-emphasis:before {
    //   content: '\f0fa';
    //   font-family: FontAwesome;
    //   font-size: 2em;
    //   line-height: 120%;
    //   font-style: normal;
    //   border-radius: 50%;
    //   @include display(block);
    //   margin: 0 auto;
    //   @include position(relative);
    //   top: -1.25rem;
    //   @include size($xs-padding*4);
    //   border: 1px solid $dark-base;
    //   padding: $xs-padding;
    //   background: white;
    // }

  .HeroBox .Button,
  .HeroBox h1,
  .HeroBox p {
    margin-left: auto;
    margin-right: auto;
  }
